html {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 480px;
  margin: 20px auto;
  background-color:antiquewhite;
  border-radius: 8px;
  padding:20px;
}
.flex1 {
  padding: 20px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  background-color: antiquewhite;
}

.flex {
  display:flex;
  flex-direction:column;
  align-items: center;
  
}
.gap {
  gap:10px;
}

input {
  padding: 8px 4px;
}

button,input[type=submit] {
  padding: 8px 4px;
  width: 100px;
  border-radius: 4px;
}
